main{
  font-size:16px;
  font-family: 'Noto Sans JP', sans-serif;
}

h2{
  font-size:30px;
}

p{
  font-size:18px
}

.font-red{
  font-weight: bold;
  color: rgba(209, 45, 45, 0.994);
}



@mixin OverTab {
  @media screen and(min-width:1000px){
    @content; 
  }
}
@mixin midTab{
  @media screen and(min-width:800px){
    @content;
  }
}


@mixin smallTab {
  @media screen and(min-width:599px){
    @content; 
  }
}
@mixin smartTab {
  @media screen and(min-width:400px){
    @content; 
  }
}
