@import "./general";

#header-top{
position: fixed;  
width: 100%;
z-index: 100;

  .h-inner{
    color:white;
    background-color: black;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   .h-title{
     display: flex;
     flex-direction: column;
    //  line-height: 80px;

     h1{
       display: inline-block;
       font-size: 20px;
       line-height: 32px;
      
 
       @include smallTab{
         font-size: 28px;
         line-height: 45px;
       }
     }

     p{
      
      font-size: 14px;
      @include smallTab{
        font-size: 16px;
      }
     }
   }
  
    nav{
      display: none;

      &.-active{
        display: block;
        position: fixed;
        top: 100px;
        left:0;
        width: 100%;
        background-color:rgba(#000,0.7);
      }

      @include  OverTab{
        position: static;
        width: initial;
        background-color: transparent;
        display:flex;

      }
      
      li{
        display: inline-block;
  
        & :nth-child(n+1){
          margin-left: 10px;
        }
  
        a{
          color:white;
          text-decoration: none;
          display: block;
          font-size: 16px;
          padding:20px 0px;
          

          @include smallTab{
            font-size: 18px;
          }

          @include OverTab{
            line-height: 80px;
          }
  
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }

    // ハンバーグボタン
    .h-btn{
      position: relative;
      width: 30px;
      height: 30px;

      // 初期化
      appearance: none;
      outline: none;
      font:inherit;
      border: none;
      background-color: transparent;

      @include OverTab{
        display: none;
      }

      &.-active{
        display: block;

        span{
          top:0;
          bottom: 0;
          margin: auto;
          transition: 0.3s ease;

          &:first-child{
           transform: rotate(45deg);
          }
          &:nth-child(2){
            transform: rotate(45deg);
          }
          &:last-child{
            transform: rotate(-45deg);
          }
        }
      }


      span{
        background-color: #fff;
        height: 2px;
        display: block;
        width: 100%;
        position: absolute;

        &:first-child{
          top:0;
        }

        &:nth-child(2){
          top:0;
          bottom:0;
          margin: auto;
        }

        &:last-child{
          bottom: 0;
        }
      }
    }


  }
}

