@import './general';

// 価格紹介
#price{
  text-align: center;
  padding-bottom: 60px;

  .c-inner{
    max-width:1180px;
    margin: 0 auto;
    padding:0px 20px;


    .title{
      padding-top:60px;
      padding-bottom:60px;
      line-height: 1.5;
    }
  
    .contents{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include OverTab{
        flex-direction: row;
        justify-content: center;
        align-items: center;
     

      }
  
      .price-image{
        text-align: center;

        @include OverTab{
          margin-right: 60px;
        }

        img{
          text-align: center;
          max-width: 500px;
          height: auto;
          width: 100%;

          @include smallTab{
            width: 100%;
          }
        }
  
      } //contents
  
      .price-contents{

        padding-top: 20px;
        padding:0 15px;

        max-width: 500px;
        width: 100%;
        
        @include OverTab{
          padding-top: 0px;
           flex:1;

        }
        
        .price-item{
          display: flex;
          justify-content:space-between;
          align-items: center;

           @include OverTab{
         
          line-height: 2.5em;
         
        
         
           }


          h3{
            font-size: 20px; 
            line-height: 50px;
            width: 300px;
            text-align: left;

            @include smallTab{
             font-size: 1.5rem; 
            }
          }
    
          p{
            white-space: nowrap;
            font-size: 1rem; 
            

            @include smallTab{
              font-size: 1.5rem;
             }
          }
        }

    
        .link{
          margin-top:30px;
          display: inline-block;
          
          a{
            display: block;
            background-color: rgb(247, 176, 25);
            border-radius: 40px;
            padding:12px 18px ;
            text-decoration: none;
            color:black;
            font-weight: bold;
            font-size: 25px;
    
            &:hover{
              opacity: 0.7;
            }
          }
        }//link


      }//price-contents

    } //contents



  }// c-inner
 
} // price