// サービス紹介
#service{
  text-align: center;
  padding-bottom:60px;
  .title{
    padding-top:60px;
    padding-bottom:60px;
    line-height: 1.5;

    h2{
    }

    p{
    }

  }
  
  .rec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;

    @include OverTab{
      flex-wrap: nowrap;
    }

    .rec-item {
      display: flex;
      flex-flow: column-reverse;
      border-radius: 8px;
      max-width:400px;
      width: 100%;
      margin-top: 30px;

        & + .rec-item{

          @media screen and (min-width:840px) {
            margin-left: 30px;
          }
      
        }

        .text{
          border: 1px solid #d8d7d7;
          height: 160px;
      
          .sub_title{
            padding: 20px;
            font-weight: bold;
          }

          .discription{
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 50px;
          }
        }

        .image{
          
          img{
            max-width:400px;
            width: 100%;
            height: auto;
          }
        }

    } //rec-item
  } // rec
} // service
