main {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

.font-red {
  font-weight: bold;
  color: rgba(209, 45, 45, 0.994);
}

main {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

.font-red {
  font-weight: bold;
  color: rgba(209, 45, 45, 0.994);
}

#header-top {
  position: fixed;
  width: 100%;
  z-index: 100;
}

#header-top .h-inner {
  color: white;
  background-color: black;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-top .h-inner .h-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header-top .h-inner .h-title h1 {
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
}

@media screen and (min-width: 599px) {
  #header-top .h-inner .h-title h1 {
    font-size: 28px;
    line-height: 45px;
  }
}

#header-top .h-inner .h-title p {
  font-size: 14px;
}

@media screen and (min-width: 599px) {
  #header-top .h-inner .h-title p {
    font-size: 16px;
  }
}

#header-top .h-inner nav {
  display: none;
}

#header-top .h-inner nav.-active {
  display: block;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 1000px) {
  #header-top .h-inner nav {
    position: static;
    width: initial;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#header-top .h-inner nav li {
  display: inline-block;
}

#header-top .h-inner nav li :nth-child(n+1) {
  margin-left: 10px;
}

#header-top .h-inner nav li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 16px;
  padding: 20px 0px;
}

@media screen and (min-width: 599px) {
  #header-top .h-inner nav li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  #header-top .h-inner nav li a {
    line-height: 80px;
  }
}

#header-top .h-inner nav li a:hover {
  opacity: 0.7;
}

#header-top .h-inner .h-btn {
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font: inherit;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1000px) {
  #header-top .h-inner .h-btn {
    display: none;
  }
}

#header-top .h-inner .h-btn.-active {
  display: block;
}

#header-top .h-inner .h-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#header-top .h-inner .h-btn.-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header-top .h-inner .h-btn.-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header-top .h-inner .h-btn.-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header-top .h-inner .h-btn span {
  background-color: #fff;
  height: 2px;
  display: block;
  width: 100%;
  position: absolute;
}

#header-top .h-inner .h-btn span:first-child {
  top: 0;
}

#header-top .h-inner .h-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

#header-top .h-inner .h-btn span:last-child {
  bottom: 0;
}

#works {
  text-align: center;
  padding-bottom: 60px;
  background-color: #EEEEEE;
}

#works .inner {
  padding: 0px 20px;
}

#works .title {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.5;
}

#works .swiper-container {
  width: 100%;
}

#works .swiper-container .rec.swiper-wrapper .rec-item.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  background-color: #000;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
}

#works .swiper-container .rec.swiper-wrapper .rec-item.swiper-slide .text {
  color: #EEEEEE;
  text-align: center;
}

#works .swiper-container .rec.swiper-wrapper .rec-item.swiper-slide .text .sub_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

#works .swiper-container .rec.swiper-wrapper .rec-item.swiper-slide .image:hover {
  opacity: 0.5;
}

#works .swiper-container .rec.swiper-wrapper .rec-item.swiper-slide .image img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

#service {
  text-align: center;
  padding-bottom: 60px;
}

#service .title {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.5;
}

#service .rec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1000px) {
  #service .rec {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#service .rec .rec-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 840px) {
  #service .rec .rec-item + .rec-item {
    margin-left: 30px;
  }
}

#service .rec .rec-item .text {
  border: 1px solid #d8d7d7;
  height: 160px;
  padding: 20px;
}

#service .rec .rec-item .text .sub_title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

#service .rec .rec-item .text .discription {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.75em;
}

#service .rec .rec-item .image img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

#value .inner {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0px;
}

#value .inner .title {
  padding-bottom: 60px;
}

#value .inner .title h2 {
  font-size: 2rem;
  line-height: 40px;
}

#value .inner .title p {
  line-height: 2em;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  #value .inner .title p {
    font-size: 1.25rem;
  }
}

#value .inner .v-item {
  text-align: center;
}

#value .inner .v-item img {
  width: 100%;
}

#intro {
  text-align: center;
  background-color: #EEEEEE;
}

#intro .title {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}

#intro .title p {
  padding-bottom: 20px;
}

#intro .intro-contents {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  #intro .intro-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#intro .intro-contents .intro-image {
  margin-top: 30px;
}

@media screen and (min-width: 800px) {
  #intro .intro-contents .intro-image {
    width: 40%;
  }
}

#intro .intro-contents .intro-image img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

#intro .intro-contents .in-items {
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 60px;
  text-align: left;
}

@media screen and (min-width: 800px) {
  #intro .intro-contents .in-items {
    width: 60%;
  }
}

#intro .intro-contents .in-items .intro-item p {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 50px;
}

main {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

.font-red {
  font-weight: bold;
  color: rgba(209, 45, 45, 0.994);
}

#price {
  text-align: center;
  padding-bottom: 60px;
}

#price .c-inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
}

#price .c-inner .title {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.5;
}

#price .c-inner .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1000px) {
  #price .c-inner .contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#price .c-inner .contents .price-image {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  #price .c-inner .contents .price-image {
    margin-right: 60px;
  }
}

#price .c-inner .contents .price-image img {
  text-align: center;
  max-width: 500px;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 599px) {
  #price .c-inner .contents .price-image img {
    width: 100%;
  }
}

#price .c-inner .contents .price-contents {
  padding-top: 20px;
  padding: 0 15px;
  max-width: 500px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  #price .c-inner .contents .price-contents {
    padding-top: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

#price .c-inner .contents .price-contents .price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  #price .c-inner .contents .price-contents .price-item {
    line-height: 2.5em;
  }
}

#price .c-inner .contents .price-contents .price-item h3 {
  font-size: 20px;
  line-height: 50px;
  width: 300px;
  text-align: left;
}

@media screen and (min-width: 599px) {
  #price .c-inner .contents .price-contents .price-item h3 {
    font-size: 1.5rem;
  }
}

#price .c-inner .contents .price-contents .price-item p {
  white-space: nowrap;
  font-size: 1rem;
}

@media screen and (min-width: 599px) {
  #price .c-inner .contents .price-contents .price-item p {
    font-size: 1.5rem;
  }
}

#price .c-inner .contents .price-contents .link {
  margin-top: 30px;
  display: inline-block;
}

#price .c-inner .contents .price-contents .link a {
  display: block;
  background-color: #f7b019;
  border-radius: 40px;
  padding: 12px 18px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

#price .c-inner .contents .price-contents .link a:hover {
  opacity: 0.7;
}

#flow {
  text-align: center;
  background-color: #EEEEEE;
  padding-bottom: 60px;
}

#flow .title {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.5;
}

#flow .flow-contents {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 30px;
  -ms-grid-columns: minmax(min-content, 400px);
      grid-template-columns: minmax(-webkit-min-content, 400px);
      grid-template-columns: minmax(min-content, 400px);
}

@media screen and (min-width: 599px) {
  #flow .flow-contents {
    -ms-grid-columns: minmax(min-content, 400px) minmax(min-content, 400px);
        grid-template-columns: minmax(-webkit-min-content, 400px) minmax(-webkit-min-content, 400px);
        grid-template-columns: minmax(min-content, 400px) minmax(min-content, 400px);
  }
}

@media screen and (min-width: 1000px) {
  #flow .flow-contents {
    -ms-grid-columns: minmax(min-content, 400px) minmax(min-content, 400px) minmax(min-content, 400px) minmax(min-content, 400px);
        grid-template-columns: minmax(-webkit-min-content, 400px) minmax(-webkit-min-content, 400px) minmax(-webkit-min-content, 400px) minmax(-webkit-min-content, 400px);
        grid-template-columns: minmax(min-content, 400px) minmax(min-content, 400px) minmax(min-content, 400px) minmax(min-content, 400px);
  }
}

#flow .flow-item {
  text-align: center;
  padding: 20px;
}

#flow .flow-item h3 {
  font-size: 25px;
  padding-bottom: 20px;
  line-height: 1.5em;
  text-align: center;
}

#flow .flow-item .f-discription {
  text-align: center;
}

#flow .flow-item p {
  font-size: 16px;
  line-height: 28px;
}

#inquery {
  background-color: #F9CDD7;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#inquery .inquery-text {
  line-height: 1.5;
}

#inquery .inquery-text > h2 {
  font-size: 25px;
  line-height: 50px;
}

@media screen and (min-width: 599px) {
  #inquery .inquery-text > h2 {
    font-size: 40px;
  }
}

#inquery .inquery-text > p {
  font-size: 20px;
}

@media screen and (min-width: 599px) {
  #inquery .inquery-text > p {
    font-size: 30px;
  }
}

#inquery .inquery-btn {
  display: inline-block;
  margin-top: 40px;
}

#inquery .inquery-btn a {
  display: block;
  background-color: #f7b019;
  border-radius: 40px;
  padding: 15px 21px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

@media screen and (min-width: 599px) {
  #inquery .inquery-btn a {
    font-size: 30px;
  }
}

#inquery .inquery-btn a:hover {
  opacity: 0.7;
}

#c_copy {
  position: relative;
  z-index: 1;
}

#c_copy .swiper-container img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 800px) {
  #c_copy .swiper-container img {
    width: 100%;
    height: auto;
  }
}

#c_copy .top-text {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
}

#c_copy .top-text h2 {
  color: white;
  text-shadow: -3px -1px black;
  font-size: 22px;
  line-height: 35px;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 599px) {
  #c_copy .top-text h2 {
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 800px) {
  #c_copy .top-text h2 {
    font-size: 32px;
    white-space: nowrap;
  }
}

#c_copy .top-text .i-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font: inherit;
  border: none;
  background-color: transparent;
}

#c_copy .top-text .i-button a {
  display: block;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 5px;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

#c_copy .swiper-slide-active img,
#c_copy .swiper-slide-duplicate-active img,
#c_copy .swiper-slide-prev img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

#concept {
  background-color: #EEEEEE;
  padding: 0px 20px;
  padding-bottom: 60px;
}

#concept .inner {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

#concept .inner .title {
  text-align: center;
  padding: 60px 0px;
}

#concept .inner .title h2 {
  font-size: 30px;
  line-height: 40px;
}

#concept .inner .title p {
  font-size: 1rem;
  line-height: 1.5em;
}

@media screen and (min-width: 400px) {
  #concept .inner .title p {
    font-size: 1.25rem;
    line-height: 2em;
  }
}

@media screen and (min-width: 800px) {
  #concept .inner .con-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#concept .inner .con-contents .con-image {
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 800px) {
  #concept .inner .con-contents .con-image {
    width: 40%;
    padding-bottom: 0px;
  }
}

#concept .inner .con-contents .con-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

@media screen and (min-width: 1000px) {
  #concept .inner .con-contents .con-image img {
    width: 350px;
    height: 350px;
  }
}

#concept .inner .con-contents .con-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#concept .inner .con-contents .con-item h4 {
  font-size: 24px;
  line-height: 40px;
  border-bottom: 2px solid #6e6a6a;
}

#concept .inner .con-contents .con-item p {
  padding-top: 15px;
  font-size: 1rem;
  line-height: 2em;
}

@media screen and (min-width: 599px) {
  #concept .inner .con-contents .con-item p {
    font-size: 1.25rem;
  }
}

#choice {
  background-color: khaki;
  padding: 0px 20px;
}

#choice .inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#choice .title {
  padding: 60px 0px;
}

#choice .title h2 {
  font-size: 2rem;
  line-height: 40px;
}

#choice .title p {
  line-height: 2em;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  #choice .title p {
    font-size: 1.25rem;
  }
}

#choice .ch-contents {
  width: 100%;
}

#choice .ch-contents .ch-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

@media screen and (min-width: 800px) {
  #choice .ch-contents .ch-items {
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #choice .ch-contents .ch-items.second-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#choice .ch-contents .ch-items .ch-image {
  width: 80%;
}

@media screen and (min-width: 800px) {
  #choice .ch-contents .ch-items .ch-image {
    width: 50%;
  }
}

#choice .ch-contents .ch-items .ch-image img {
  vertical-align: center;
  width: 100%;
  height: auto;
  opacity: 0.7;
}

#choice .ch-contents .ch-items .ch-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  display: inline-block;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2) inset;
  width: 80%;
}

@media screen and (min-width: 800px) {
  #choice .ch-contents .ch-items .ch-text {
    width: 50%;
    max-width: 500px;
    height: 330px;
  }
}

#choice .ch-contents .ch-items .ch-text span {
  text-align: center;
  display: inline-block;
  font-size: 3.5rem;
}

@media screen and (min-width: 800px) {
  #choice .ch-contents .ch-items .ch-text span {
    text-align: left;
  }
}

#choice .ch-contents .ch-items .ch-text h3 {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 1.25rem;
  line-height: 1.5em;
}

@media screen and (min-width: 800px) {
  #choice .ch-contents .ch-items .ch-text h3 {
    font-size: 1.5rem;
    line-height: 2em;
  }
}

#choice .ch-contents .ch-items .ch-text p {
  font-size: 0.9rem;
  line-height: 1.5em;
}

@media screen and (min-width: 400px) {
  #choice .ch-contents .ch-items .ch-text p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  #choice .ch-contents .ch-items .ch-text p {
    font-size: 1.1rem;
  }
}

#f-second {
  background-color: #414040;
}

#f-second .footer-top {
  color: white;
}

#f-second .footer-top h1 {
  font-size: 28px;
  line-height: 40px;
}

#f-second .footer-top h1 a {
  display: block;
  text-decoration: none;
  color: #fff;
}

#f-second .footer-top h1 a:hover {
  opacity: 0.5;
  cursor: pointer;
}

#f-second .footer-top ul {
  display: inline-block;
  text-align: right;
}

#f-second .footer-top ul li {
  display: inline-block;
}

#f-second .footer-top ul li :nth-child(n+1) {
  margin-left: 10px;
}

#f-second .footer-top ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 15px;
  line-height: 50px;
}

#f-second .footer-top ul li a:hover {
  opacity: 0.7;
}

#f-third {
  background-color: #525050;
}

#f-third p {
  padding: 20px 0px;
  color: white;
  font-size: 15px;
}

footer {
  text-align: center;
}

footer #f-first {
  padding: 60px 0px;
  background-color: #313131;
}

footer #f-first .f-inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}

footer #f-first .f-inner .title h3 {
  color: white;
  font-size: 30px;
  padding-bottom: 30px;
}

footer #f-first .f-inner .ff-contents > p {
  font-size: 1rem;
  line-height: 1.75em;
  padding: 0;
  color: white;
  text-align: center;
}

@media screen and (min-width: 800px) {
  footer #f-first .f-inner .ff-contents > p {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=style.css.map */