footer{
  text-align: center;

  #f-first{
    
    padding:60px 0px;
    background-color: #313131;

    .f-inner{
     
      width: 100%;
      margin: 0 auto;
      text-align: center;
      max-width: 1000px;


      .title{
      

        h3{
          color: white;
          font-size: 30px;
          padding-bottom: 30px;
        
        }
      }
        .ff-contents{
        
          &>p{
            font-size: 1rem;
            line-height: 1.75em;
            padding: 0;
            color: white;
            text-align: center;

            @include midTab{
              font-size: 1.25rem;
            }
          }
        }
  
      


    }

    

  }//section
}